<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poly.tracnghiem12">

    <application
        android:allowBackup="true"
        android:icon="@drawable/screen"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ketquatienganh12_Activity"></activity>
        <activity android:name=".ketquatienganh11_Activity"></activity>

        <activity
            android:name=".Quiz_tienganh12_Activity"
            android:parentActivityName=".Dethi_tienganh12_Activity"
            android:theme="@style/mystyle" />
        <activity
            android:name=".Dethi_tienganh12_Activity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/mystyle" />
        <activity android:name=".Tienganh12_Activity" />
        <activity
            android:name=".Quiz_Tienganh11_Activity"
            android:parentActivityName=".MonTienganh11_Activity"
            android:theme="@style/mystyle1" />
        <activity
            android:name=".MonTienganh11_Activity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/mystyle" />
        <activity
            android:name=".Quiz_Tienganh10_Activity"
            android:theme="@style/mystyle" />
        <activity
            android:name=".Dethi_TiengAnh11_Activity"
            android:parentActivityName=".MonTienganh11_Activity"
            android:theme="@style/mystyle" />
        <activity
            android:name=".Dethi_TiengAnh10_Activity"
            android:parentActivityName=".MonTienganh10_Activity"
            android:theme="@style/mystyle" />
        <activity
            android:name=".TailieuTiengAnh10_Activity"
            android:parentActivityName=".MonTienganh10_Activity"
            android:theme="@style/mystyle" />
        <activity
            android:name=".MonTienganh10_Activity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/mystyle" />
        <activity
            android:name=".ThongTin_CaNhan_Activity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/mystyle" />
        <activity android:name=".Dangky_Activity" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".ScreenActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name" />
    </application>

</manifest>